$border-radius-base: 0
$border-radius-large: 0
$border-radius-small: 0
@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'font-awesome'
@import 'photoswipe/dist/photoswipe'
@import 'photoswipe/dist/default-skin/default-skin'
.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before
  background-image: image-url('photoswipe/dist/default-skin/default-skin.png')

@media (-webkit-min-device-pixel-ratio: 1.1),  (min-resolution: 105dpi), (min-resolution: 1.1dppx)
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before
    background-image: image-url('photoswipe/dist/default-skin/default-skin.svg')

body
  background: #2E2E2E
$background1: #929292

.import-controls
  z-index: 1000
  position: fixed
  top: 0
  right: 0
  background: white

.controls
  z-index: 1000
  position: fixed
  bottom: 5px
  right: 5px
  height: 100px
  width: 50px
  button
    width: 40px
    display: list-item
.btn-upload
  overflow: hidden
  .wrapper
    position: relative
  .upload
    position: absolute
    top: 0
    font-size: 25px
    opacity: 0

.pagination-controls
  position: fixed
  z-index: 1000
  left: 5px
  bottom: 5px
  button
    width: 40px
    margin: 0 auto
.image
  padding: 1px
  display: inline-block
  position: relative
.image-row
  width: 100%
#images
  margin: 0
  padding: 0
  font-size: 0
  div
    font-size: 14px
  p
    position: absolute
    left: 0
    right: 0
    bottom: -19px
    padding: 0 5px
    margin: 0
    text-align: center
    @include text-overflow
    background: $background1
  .wrapper
    background: $background1
    position: relative
    display: block
    height: 0
    padding: 0
    padding-bottom: 100%
    margin-bottom: 20px
  .viewer
    padding: 1px
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
  .viewer-image
    position: relative
    width: 100%
    height: 100%
  img
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    max-height: 100%
    max-width: 100%
